.list-item {
  width: 100%;
  max-height: 60px;
  padding: 5px 18px;
  display: flex;
  align-items: center;
  outline: 1px solid var(--color-card-border);
  gap: 14px;
}

.list-item:hover {
  background-color: var(--color-card-hovered);
}

.list-badges {
  min-height: 50px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  gap: 5px 10px;
}

.list-item__button {
  cursor: pointer;
}

.list-item__title {
  max-width: 500px;
  flex-grow: 1;
  font-size: 14px;
  color: var(--color-body-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item.--important .list-item__title {
  font-weight: 600;
  color: var(--yellow);
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .list-item {
    padding: 5px 9px;
    gap: 7px;
  }
  .list-item__title {
    max-width: 150px;
  }
  .list-badges {
    max-height: 40px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 767px) {
  .list-item {
    padding: 5px 11px;
    gap: 9px;
  }
  .list-item__title {
    max-width: 220px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .list-item__title {
    max-width: 200px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  .list-item {
  }

  .list-item__title {
    max-width: 250px;
  }

  .list-badges {
    justify-content: end;
    flex-shrink: 1;
    display: flex;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
}
