.button {
  padding: 10px 23px 11px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  color: var(--white);
  background-color: var(--color-primary);
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-primary-2);
}

.button.ghost {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background: none;
}

.button.ghost:hover {
  color: var(--color-primary-2);
  border: 1px solid var(--color-primary-2);
}

.button.ghost-danger {
  color: var(--color-danger);
  border: 1px solid var(--color-danger);
  background: none;
}

.button.ghost-danger:hover {
  color: var(--color-danger-2);
  border: 1px solid var(--color-danger-2);
}

.button.large {
  padding: 12px 26px 12px;
  font-size: 14px;
}

/* Disabled */

.button.--disabled {
  color: var(--color-body-text);
  background-color: var(--color-card-border);
  cursor: not-allowed;
}

.button.--disabled:hover {
  background-color: auto;
}

.button.ghost.button.--disabled {
  color: var(--color-body-text);
  border: 1px solid var(--color-card-border);
  cursor: not-allowed;
}
