.todo {
  flex-grow: 1;
}

.todo__wrapper {
  height: 513px;
  display: flex;
  border-radius: 8px;
  outline: 1px solid var(--color-card-border);
}

.todo-sider {
  min-width: 210px;
  background-color: var(--color-card);
  outline: 1px solid var(--color-card-border);
}

.todo-header {
  padding: 20px 0px 20px 20px;
}

.todo-menu__item-link {
  position: relative;
  padding: 9px 9px 9px 18px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-heading-display-text);
}

.todo-menu__item-link.active {
  color: var(--purple-1);
}

.todo-menu__item-link.active::before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  width: 3px;
  height: 100%;
  border-radius: 2px;
  background-color: var(--color-primary);
}

.todo-menu__item-link.active .icon {
  color: var(--purple-1);
}

.todo-menu__item-icon {
  margin-right: 11px;
}

.todo-footer {
  margin-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.todo-body {
  flex-grow: 1;
  background-color: var(--color-card);
  outline: 1px solid var(--color-card-border);
}

.todo-body__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.todo-list {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.todo-search {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  outline: 1px solid var(--color-card-border);
}
.todo-search label {
  flex-grow: 1;
}

.todo-search__button {
  padding: 5px;
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .todo {
    max-width: 100%;
  }
  .todo__wrapper {
    position: relative;
    min-height: 100vh;
    border-radius: 0;
    overflow: hidden;
  }
  .todo-sider {
    height: 100%;
    padding-top: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.1s ease;
  }
  .todo-sider.--open {
    transform: translateX(0);
  }
  .todo-header {
    padding: 0 1.5rem;
    display: flex;
    justify-content: flex-end;
  }
  .todo-search {
    padding: 10px 15px;
    gap: 0.5rem;
  }
  .todo-search__button {
    padding: 0.1rem 0.65rem;
    font-size: 24px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 767px) {
  .todo {
    max-width: 100%;
  }
  .todo__wrapper {
    position: relative;
    min-height: 100vh;
    border-radius: 0;
    overflow: hidden;
  }
  .todo-sider {
    height: 100%;
    padding-top: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.1s ease;
  }
  .todo-sider.--open {
    transform: translateX(0);
  }
  .todo-header {
    padding: 0 1.5rem;
    display: flex;
    justify-content: flex-end;
  }
  .todo-search {
    gap: 1rem;
  }
  .todo-search__add-todo {
    padding: 0.2rem 0.75rem;
    font-size: 24px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  .todo {
    max-width: 691px;
  }
  .todo-sider {
    position: static;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .todo {
    max-width: 892px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  .todo {
    max-width: 1080px;
  }
}

@media (min-width: 1440px) {
  .app__wrapper {
    max-width: 1242px;
    margin: 0 auto;
  }
}
