.typography {
  color: var(--white);
}

.typography.small-text {
  color: var(--color-heading);
  font-size: 12px;
  font-weight: 500;
}

.typography.text {
  font-size: 14px;
  color: var(--color-body-text);
}

.typography.heading {
  font-size: 19px;
  color: var(--color-heading);
}

.typography.error {
  color: var(--color-danger);
  font-size: 14px;
  font-weight: 500;
}
