:root {
  --color-body: #161d31;
  --color-card: #283046;
  --purple-1: #9b51e0;

  --color-heading: #b9b9c3;
  --color-primary: #7367f0;
  --color-success: #28c76f;
  --color-warning: #ff9f43;
  --color-danger: #ea5455;

  --white: #ffffff;
}
