:root {
  --color-body: #161d31;
  --color-card: #283046;
  --color-card-hovered: #242c43;
  --color-card-border: #3b4253;

  --color-heading: #b9b9c3;
  --color-body-text: #b4b7bd;
  --color-heading-display-text: #d0d2d6;

  --color-primary: #7367f0;
  --color-primary-2: #8479f5;
  --color-success: #28c76f;
  --color-warning: #ff9f43;
  --color-danger: #ea5455;

  --t-color-primary: rgba(39, 114, 8, 0.12);
  --t-color-success: rgba(40, 199, 111, 0.12);
  --t-color-warning: rgba(255, 159, 67, 0.12);
  --t-color-danger: rgba(234, 84, 85, 0.12);

  --gray-3: #828282;
  --gray-5: #e0e0e0;

  --purple-1: #9b51e0;
  --yellow: #f2c94c;

  --white: #ffffff;

  --color-transparent: rgba(0, 0, 0, 0);
}

.app {
  height: 100%;
  background-color: var(--color-body);
}

.app__wrapper {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.--mobile {
  display: none;
}
.--invisible {
  position: absolute;
  top: -100%;
  opacity: 0;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .--desktop {
    display: none;
  }
  .--mobile {
    display: block;
  }
  .--invisible {
    position: static;
    top: auto;
    opacity: 1;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 767px) {
  .--desktop {
    display: none;
  }
  .--mobile {
    display: block;
  }
  .--invisible {
    position: static;
    top: auto;
    opacity: 1;
  }
}
