@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

body,
#root {
  height: inherit;
}

body {
  margin: 0;
}

span {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
